<div class="container">
<br/>
<div class="col-md-4 col-md-offset-4 jumbotron">

    <h3>Cuentas Origen</h3>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="source in sourceAccounts">
            <div class="row">
                <div class="col-sm-6 text-left">
                    {{source.label}}
                </div>
                <div class="col-sm-4 text-right">
                    {{source.balance | currency}}
                </div>
                <div class="col-sm-2 text-right">
                    <input type="radio" name="source" ng-click="sourceSelected(source)">
                </div>
            </div>
        </li>
    </ul>
    
    <h3>Cuentas Destino</h3>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="destination in destinationInstruments">
            <div class="row">
                <div class="col-sm-6 text-left">
                    {{destination.label}}
                </div>
                <div class="col-sm-4 text-right">
                    {{destination.id}}
                </div>
                <div class="col-sm-2 text-right">
                    <input type="checkbox" ng-change="destinationChk(destination)"
                    checklist-model="selectedDestinations" 
                    checklist-value="destination"/>
                </div>
            </div>
        </li>
    </ul>

    <button class="btn btn-success" ng-click="transferClick()">Transferir</button>
</div>
</div>
